body {
    background-color: #4a4a4a;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    width: 100vw;

}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 100;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(56, 114, 96);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


h1:after {
    display: block;
    height: 4px;
    width: 30%;
    background-color: black;
    content: " ";
    margin: 0 auto;
    
}


/* **** NAVBAR ********
============ */

.navbar {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 150%;
    padding: 0px 15px 0px 15px;;
}

#monMenu a {
    margin-left: 30px
}

#monMenu a:hover {
    color: rgba(56, 114, 96);
    transform: scale(1.1,1.1);
    transition: 0.5s
    
}

/* **** HEADER ***** 
====================== */

header {
    background-image: linear-gradient(to top right, rgb(0, 20, 16),
            rgba(56, 114, 96, 0.95), rgb(78, 124, 110), rgb(14, 31, 23)), url(../Ressources/Images/Post-Insta.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    padding: 5% 
}

#logo img {
    position: relative;
    margin: 0 auto;
    top: 7%;
    left: 35%;
    width: 30%;
    
}

/* **** QUI SUIS-JE ***** 
====================== */

#quisuisje {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    width: 100vw;
}

#texte-qui {
    margin: 0 auto;
    font-size: 150%;
    width: 80vw;
    
}
